body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.contador {
  font-size: 3rem;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
  margin: 0 5px;
}
